.button{
    background-color:  #234d6f;
    padding: 4%;
    margin-left: 25%;
    width: 67%;
    height: 7%;
    margin-top: 10%;
    color: white;
    border-radius: 400px;
    border: 20px;
    cursor: pointer;
    
}

.image{
    width: 70%;
    /* justify-content: flex-start; */
    /* float: inline-start; */
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
}

.inputFields{
    background-color: aliceblue;
    margin-bottom: 6%;
    padding: 3%;
    margin-left: 25%;
    border-color: white;
    border: 20px;
    width: 60%;
    border-radius: 2%;
}

.forgotPwd{
    background: none;
    border: none;
    border-color: none;
    margin-left: 25% ;
    padding: 0;
    width: 70%;
    margin-top: 10%;
    cursor: pointer;
}

.signUpBtn{
    border: none;
    background: none;
    border-color: none;
    margin-top: 1%;
    cursor: pointer;

}

.headerSignIn{
    margin-left: 45%;
    margin-bottom: 15%;
}

.FgtPwdHeader{
    margin-left: 20%;

    
}
.emailPwd{
    margin-right: 100%;
    background-color: red;

}

.signUpComp{
    margin-right: 90px;

}